.cardName {
  color: rgb(54, 2, 7);
  margin: 0;
  background-color: yellow;
  font-family: "Sofia";
  font-size: 1.2em;
  text-align: left;
  width: 100%;
  padding-left: 20px;
  box-sizing: border-box;
}

.card-item {
  display: inline-block;
  width: calc(50% - 20px);
  margin: 10px;
}

.cardBody {
  height: 250px;
  width: 100%;
}
.cardBody img {
  height: 100%;
  width: 100%;
}
